<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%= current_page.data.title || "Agave Live Docs" %></title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <%= css_include_tag  "openapi.css" %>
    <link rel="stylesheet" href="css/openapi.css">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>


    <script src="https://cdn.vaadin.com/vaadin-core-elements/latest/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="https://cdn.vaadin.com/vaadin-core-elements/master/vaadin-combo-box/vaadin-combo-box-light.html">

    <%= javascript_include_tag  "openapi.js" %>
    <%= partial "includes/ga.erb" %>
  </head>

  <body class="<%= page_classes %>">
    <redoc spec-url='/swagger/agave.json'></redoc>
    <%= javascript_include_tag  "redoc.min.js" %>
  </body>

</html>
